html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	color: #252525;
	height: auto;
}

h1,
h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: "Pacifico", cursive;
	font-weight: 200;
	color: #252525;
}

h2 {
	font-size: 2em;
	text-align: center;
}

h3 {
	text-align: center;
	margin: 0;
}

p {
	margin-top: 0;
	line-height: 180%;
	text-align: center;
}

p,
a {
	color: #252525;
}

main {
	margin: 0 auto;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2em;
}

@media all and (min-width: 1035px) {
	.wrapper {
		padding: 0;
		min-height: 350px;
	}
}

/* Navigation */

#menu {
	display: none;
}

.slicknav_nav {
	text-align: center;
}

@media all and (min-width: 1035px) {
	.slicknav_nav li {
		display: inline-block;
	}
}

/* Header */

header {
	background: #f6f2e9;
	padding: 0 0 2em 0;
}

header h1 {
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 0.5em;
}

.contactInfo p {
	line-height: 1em;
}

@media all and (min-width: 1035px) {
	header h1 {
		font-size: 3.3em;
		margin-top: 10%;
	}
	.contactInfo {
		float: right;
		margin-right: 10%;
	}
}

.contactInfo li {
	list-style-type: none;
}

div #logo {
	text-align: center;
}

#logo img {
	width: 30%;
	height: auto;
	max-width: 300px;
	min-width: 100px;
}

@media all and (min-width: 1035px) {
	.mobilelogo {
		display: none;
	}
	#logo img {
		float: left;
	}
}

@media all and (max-width: 1035px) {
	.desktoplogo {
		display: none;
	}
	.mobilelogo {
		margin-top: 1em;
	}
}

.socialMedia {
	text-align: center;
	margin: auto;
	margin-right: 10%;
}

.socialMedia li {
	list-style-type: none;
	text-decoration: none;
	display: inline;
	padding: 0 0.4em;
}

.socialMedia img {
	width: 10%;
	height: auto;
}

/* About Us */

.aboutUs {
	background: #8eced1;
	padding: 2em 0;
}

.aboutUs a {
	color: #252525;
	font-weight: bold;
	text-decoration: none;
}

.aboutUs a:hover {
	color: #f57b4a;
}

.aboutUs p {
	margin: 0;
}

.bananaQuote {
	font-size: 1.3em;
}

.aboutInfo {
	width: 100%;
	max-width: 500px;
	margin: auto;
}

@media all and (min-width: 1035px) {
	.aboutInfo {
		float: left;
		width: 45%;
	}
}

/* Slideshow */

.tcycle {
	height: auto;
	width: 100%;
	padding: 1em;
	margin: 1em;
	text-align: center;
	border: #000000 solid 2px;
}

@media all and (min-width: 1035px) {
	.tcycle {
		float: right;
		width: 50%;
	}
}

.tcycle img {
	padding: 15px;
	width: 100%;
	height: auto;
}

/* Food Menu */

.foodMenu {
	background: #ffffff url("../img/chalkboard.jpg") repeat;
	width: 100%;
	height: auto;
	padding: 2em 0;
}

.foodMenu h2, .foodMenu p {
	color: #ffffff;
}

.foodMenu h3 {
	color: #8eced1;
	border: #8eced1 solid 2px;
	padding: 5px;
}

.foodMenu article {
	width: 100%;
	margin: auto;
	text-align: center;
}

@media all and (min-width: 1035px) {
	.foodMenu article {
		display: inline-block;
		width: 20%;
		margin: 1em;
	}
}

/* More */

.wantMore {
	background: #d7efee;
	padding: 2em 0;
}

.wantMore h3 {
	color: #f57b4a;
	border: #f57b4a solid 2px;
	padding: 5px;
}

.wantMore article {
	width: 100%;
	margin: auto;
	text-align: center;
}

@media all and (min-width: 1035px) {
	.wantMore article {
		display: inline-block;
		width: 28%;
		margin: 1em;
	}
}

/* Footer */

footer {
	background: #4c4c4c;
	padding: 1em 0;
}

footer p, footer p a {
	color: #ffffff;
}
